
.body-background{
	background-color: #fff;
  font-family: 'Muli', sans-serif;
	height: 100%;
}

.title{
  font-family: 'Great Vibes', cursive;
  color:#333;
  font-size: 5.5em;
  padding-left: 18%;
  padding-top: 18%;
  margin-bottom: 10%
}

.logo img{
  width:18%;
}

@media only screen and (min-width: 415px) {
  div>ul{
    width: 70%;
    margin: auto;
  }

  .logo{
    margin-left: 24%;
  }

  .img-cover{
   margin-left: 10%;
   margin-top: 5%;
  }

  p{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
    letter-spacing: 1px;
  }

  .right-section{
    margin-left: 2%;
    margin-top: 22%;
  }

  .button-cover{
    margin-top: 8%;
  }

  .button {
    background-color: transparent;
    color:#333;
    font-size: 0.9em;
    padding: 5px 50px;
    letter-spacing: 3px;
    font-family: 'Lato', sans-serif;
    border: 1.5px solid #c6aa28;
  }

  
}




p.first-paragraph{
  padding-top: 45%;
  color: #333;
  font-size: 1.4em;
  font-family:'Quicksand', sans-serif;
  letter-spacing: 2px;
  line-height: 40px;
  padding-left: 10%;

}


@media only screen and (max-width: 410px) {

  .logo {
    position: absolute;
    right: 4%;
    text-align: right;
  }

  .logo img{
    width: 45%;
  }

  .img-cover{
     margin-left: 10%;
     margin-top: 36%;
  }

  .right-section{
    margin-left: 2%;
    margin-top: 10%;
  }

  p{
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    text-align: justify;
  }

  .button-cover{
    margin-top: 9%;
    text-align: center;
  }

  .button {
    background-color: transparent;
    color:#333;
    font-size: 0.8em;
    padding: 5px 45px;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif;
    border: 1.5px solid #c6aa28;
  }

  .form{
    width: auto!important;
  }

  .contact-section{
    margin-left: 0!important;
  }

  .button-form{
    padding:4px 0px!important;
  }

  .form{
    margin-top: 10%!important;
  }
}



.button:hover{
 font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  border:none;
  padding: 5px 50px;
  letter-spacing: 3px;
  color: #c6aa28;
  background-color: #333;
  text-decoration: none;
}

.section-2{
  margin-top: 12%;
  height:850px;
  background: url(../img/shutterstock_1244630368.jpg) center no-repeat;;
  background-size: cover;
  position: sticky;
}


.section-4{
  margin-top: 12%;
  height:850px;
  background: url(../img/shutterstock_1060903196.jpg);
  background-size: cover;
  /*position: fixed;*/
}

.button-group{
  background-color: transparent;
  font-size: 1em;
  color: #DAA520;
  font-family: 'Lato', sans-serif;
  letter-spacing: 3px;
  border: 1.3px solid #DAA520;
  padding: 8px 10px;
  margin-left: 22%;
  margin-top: 8%;
  width: 50%;
}



.button-group:hover{
  font-family: 'Lato', sans-serif;
  letter-spacing: 3px;
  font-size: 1em;
  letter-spacing: 3px;
  /*background-color: rgba(218, 165, 32, 0.4); */
  background-color:#333; 
  color: #c6aa28;
  border:none;
 
}


.cover{
  background-size: cover;
}

ul.c {
  margin-top: 12%;
  list-style-type: circle;
}

li{
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 30px;
}


.center-img{
 text-align: center;
}

.margin-top{
  margin-top: 20%;
}



/*FOOTER CSS*/

.footer-image{
  background: url(../img/footer.jpg) center no-repeat;
  background-size: cover;
  z-index: -1;
  max-height: 680px;
  margin-top: 20%;
}

.section_gap_top{
  padding-bottom: 15%;
}

.contact-btn{
    position: relative;
    display: inline-block;
    padding: 0 10%;
    color: rgba(218, 165, 32, 0.4);
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 500;
    line-height: 50px;
   /* border: 1px solid rgba(218, 165, 32, 0.4);*/
    border:1px solid #fff;
    border-radius: 2px;
    outline: none !important;
    text-align: center;
    cursor: pointer;
}

.contact-section{
  margin-left:25%;
}

.form{
  width:370px;
  height:485px;
  background-image: url(../img/Lifestyle-23.jpg);
  border-radius:8px;
  box-shadow:0 0 40px -10px #000;
  margin-top: -10%;
  text-align: center;
  padding: 80px 70px;
  box-sizing:content-box;
  font-family:'Muli',sans-serif;
  position:relative;
}

h2{
  margin:10px 0;
  padding-bottom:10px;
  width:180px;
  /*color:rgba(218, 165, 32, 0.4);
  border-bottom:3px solid rgba(218, 165, 32, 0.4);*/
  color:#f7e7ce;
  border-bottom:3px solid #eac180;
}

input, textarea{
  width:100%;
  padding:10px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Muli',sans-serif;
  caret-color:#f7e7ce;
  border-bottom:2px solid #eac180;
   color:#f7e7ce;
}

input:focus, textarea:focus{
  border-bottom:2px solid #eac180;
}

p:before{
  float:left;
  content:attr(type);
  display:block;
  margin:28px 0 0;
  font-size:14px;
  color:#f7e7ce;
}


.button-form{
  
  padding:8px 12px;
  margin:8px 0 0;
  font-family:'Muli',sans-serif;
  border:2px solid #eac180;
  color:#f7e7ce;
  cursor:pointer;
}

.button-form:hover{
  background:rgba(247, 231, 206, 0.2);
  color:#fffaf0;
}

.contact-info{
  margin-top: 12%;
  margin-left: -5%;
  color:#f7e7ce;
}

span{
  margin:0 5px 0 15px;
}

/*input:-internal-autofill-selected{
  background-color: none!important;
  color: #fff!important;
}*/

::placeholder{
  color: #f7e7ce;
}

